<!DOCTYPE html>
<html>
<head>
    <title>Resultado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>Resultado da Extração</h2>
    <p><b>URL:</b> {{ url }}</p>
    <p><b>Razão Social:</b> {{ razao_social }}</p>
    <p><b>Valor Total:</b> {{ valor_total }}</p>
    <p><b>HORA:</b> {{ data_hora }}</p>
    <hr>
    <h3>Perfil Selecionado</h3>
    <p><b>Nome:</b> {{ perfil['nome'] }}</p>
    <p><b>Matrícula:</b> {{ perfil['matricula'] }}</p>
    <p><b>CPF:</b> {{ perfil['cpf'] }}</p>
    <p><b>Banco:</b> {{ perfil['nome_banco'] }}</p>
    <p><b>Agência:</b> {{ perfil['agencia_banco'] }}</p>
    <p><b>Conta:</b> {{ perfil['numero_conta'] }}</p>

    <hr>
    
    <a href="{{ url_for('gerar_pdf', perfil_index=perfil_index) }}" class="btn">Gerar PDF</a>
    <a href="{{ url_for('index') }}" class="btn">Voltar</a>
</div>
</body>
</html>
